.design_img {
    width: 100%;
    box-shadow: 0px 5px 11px 4px rgb(0 0 0 / 10%);
    border-radius: 15px !important;
}

.hover-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-radius: 20px !important;
  }

.hover-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 11px 4px rgb(0 0 0 / 10%);
    border-radius: 20px !important;
    z-index: -1;
}

.hover-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px !important;
}

.textured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hover-image-container .textured-image,
.hover-image-container .naked-image {
    display: block;
    width: 100%;
    height: auto;
}

.hover-image-container .textured-image {
    position: relative;
    z-index: 2;
}

.hover-image-container .naked-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hover-image-container .slider {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
    transition: transform 0.3s;
}

.hover-image-container:hover .slider {
    transform: translateX(-100%);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li.search-icon svg {
    width: 18px;
    height: auto;
    position: relative;
    top: 4px;
}

.first-entry.home-info {
    /* Adjust the margin as needed; examples below */
    margin: calc(var(--gap) * 9) var(--gap) calc(var(--gap) * 11) var(--gap);  /* top right bottom left */
    text-align: center;
}

.latest-posts-heading {
    margin: var(--gap);
    /* text-align: center; */
}

/* comments */
.comments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.2em;
}

h2 {
    margin: 0;
    padding: 0;
}

.comments-counter {
    background-color: var(--entry); /* Light grey background */
    color: var(--content); /* Dark text color */
    padding: 0.5em 1em;
    border-radius: 7px; /* Rounded corners */
    font-weight: bold; /* Make the counter bold */
    display: inline-flex;
    align-items: center;
}

/* Optional: Adjust the size of the counter to make it stand out */
.comments-counter .remark42__counter {
    font-size: 1em;
}
