.design_img {
    width: 100%;
    box-shadow: 0px 5px 11px 4px rgb(0 0 0 / 10%);
    border-radius: 15px !important;
}

.hover-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-radius: 20px !important;
  }

.hover-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 11px 4px rgb(0 0 0 / 10%);
    border-radius: 20px !important;
    z-index: -1;
}

.hover-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px !important;
}

.textured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hover-image-container .textured-image,
.hover-image-container .naked-image {
    display: block;
    width: 100%;
    height: auto;
}

.hover-image-container .textured-image {
    position: relative;
    z-index: 2;
}

.hover-image-container .naked-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hover-image-container .slider {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
    transition: transform 0.3s;
}

.hover-image-container:hover .slider {
    transform: translateX(-100%);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li.search-icon svg {
    width: 18px;
    height: auto;
    position: relative;
    top: 4px;
}

.first-entry.home-info {
    /* Adjust the margin as needed; examples below */
    margin: calc(var(--gap) * 9) var(--gap) calc(var(--gap) * 11) var(--gap);  /* top right bottom left */
    text-align: center;
}

.latest-posts-heading {
    margin: var(--gap);
    /* text-align: center; */
}


/* Code Block Chroma */
/* .output {
    background-color: rgb(43, 47, 64);
    color: #cad3f5;
    border-radius: 8px;
    margin-top: -20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .78em;
    border: solid var(--code-block-bg);
    border-width: 5px;
} */

/* .output {
    background-color: #434b70;
    color: #cad3f5;
    border-radius: 8px;
    margin-top: -20px;
    margin-bottom: 1rem;
    margin-left: 0rem;
    font-size: .78em;
} */

.output {
    background-color: #434b70; /* Slightly darker than code block for distinction */
    color: #cad3f5;
    border-radius: 8px;
    margin-top: 0; /* Adds a small gap between code block and output for clarity */
    margin-bottom: 1rem; /* Adds margin below the output box */
    margin-left: 0rem; /* Align with code block */
    font-size: .78em;
}

.output pre {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
}
